@charset "UTF-8";

/*--------------------------------------------------------------
    TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
        - Universal
4.0 - Elements: styling for bare/generic HTML elements 
        - Typography: Headings, Paragraphs, Blockquotes, Anchors
        - Lists
        - Images
5.0 - Objects: class-based selectors which define undecorated design patterns, building blocks
        - Framework
6.0 - Components: specific designed components
        - Hero
        - Navigation
        - Footer 
        - Forms
        - Tables
        - Anchors
        - Images
7.0 - Utilities: utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class   
--------------------------------------------------------------*/

/*--------------------------------------------------------------
    2.0 - TOOLS
-------------------------------------------------------------- */


/*--------------------------------------------------------------
    3.0 - GENERIC
-------------------------------------------------------------- */

/* ----------- UNIVERSAL ------------- */

* {
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
}

/*--------------------------------------------------------------
    4.0 - ELEMENTS
-------------------------------------------------------------- */

h1,
.bg-gray h2,
#home-page p:last-child,
form a {
        margin: 0;
        
}

nav ul,
footer a,
footer a:hover,
form a {
        padding: 0;
}


/* ----- TYPOGRAPHY ----- */

*,
table,
thead tr:first-child ::first-letter,
tr span {
        font-family: 'Source Sans Pro', 'Arial', sans-serif;
}

p,
table,
table tr:nth-child(2) span,
.btn {
        font-size: 16px;
}

h2 span,
.header-style h2,
footer h3  {
        font-size: 18px;
}

span,
#home-page span {
        font-size: 30px;
}

#optimized-hosting h2,
.bg-gray h2{
        font-size: 35px;
}

h1,
#home-page p:last-child {
        font-size: 50px;
}

thead tr:first-child ::first-letter,
tr span {
        font-size: 75px;
}

span,
#home-page span  {
        font-weight: 300;
}

footer a,
thead tr:first-child th,
header p a {
        font-weight: 400;
}

h1,
footer h3,
#optimized-hosting h2,
.header-style h2,
.bg-gray h2,
#home-page p:last-child,
table tr:nth-child(2) span,
tr span,
a,
.btn {
        font-weight: 700;
}

h1,
h1 + p,
a,
footer h3,
#optimized-hosting span,
#optimized-hosting h2,
.header-style h2,
.bg-gray h2,
#home-page p:last-child,
table tr:nth-child(2) span,
thead tr:first-child,
tr span,
.btn  {
        text-transform: uppercase;
}

h1,
h1 + p,
footer h3,
a,
#home-page p:last-child,
footer b,
footer a:hover,
table tr:nth-child(2) span,
.btn {
        color: #fff;
}

#website-type,
#year,
header p a,
header p a:hover  {
        background-color: #fff;
}

p,
header p a,
#optimized-hosting span,
#optimized-hosting h2,
.header-style h2,
.bg-gray h2,
.bg-gray span,
#year,
#website-type {
        color: #3F3C45;
}

footer section:nth-child(2) li:nth-child(2) a:hover,
header p a:hover,
.fa-compass-drafting,
.fa-pen-to-square,
.fa-champagne-glasses,
.fa-cloud,
.fa-comment,
.fa-laptop,
.fa-gear,
.fa-envelope,
.fa-lock,
.fa-certificate,
.fa-magnifying-glass {
        color: #FE8360;
}

a,
tfoot a,
#our-hosting,
nav ul,
button[type=search] {
        background-color: #FE8360;
}

a:hover,
#our-benefits,
table tr:nth-child(2) span {
        background-color: #51CCF6;
}

table,
#home-page p {
        text-align: center;
}

p {
        line-height: 25px;
        margin-top: 0;
}

h1 {
        line-height: 55px;
}


/* ----- LISTS ----- */

ul {
        padding-left: 20px;
}

li {
        line-height: 25px;
}


/* ----- IMAGES ----- */

img { 
        margin-top: 50px;
}


/*--------------------------------------------------------------
    5.0 - OBJECTS
-------------------------------------------------------------- */

/* ----- FRAMEWORK ----- */

.wrapper {
        width: 1024px;
        margin: 0 auto;
}

.row {
        display: flex;
        justify-content: space-between;
}


/*--------------------------------------------------------------
    6.0 - COMPONENTS
-------------------------------------------------------------- */

#optimized-hosting > div:last-child {
        background: url("../img/typing.jpg") no-repeat right 20px;
        background-size: auto;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
        height: 395px;
        width: 600px;
        margin-left: 50px;   
}

.relative {
        position: relative;
        width: 50px;
        height: 50px;
        top: -25px;
        left: 76px;
}

/* main > section:first-child {
        margin-bottom: 25px;
} */

#optimized-hosting div:first-child {
        margin-bottom: 75px;
        width: 850px;
}

#optimized-hosting h2 {
        line-height: 27px;
}

#optimized-hosting ul {
        margin-bottom: 40px;
}

#our-benefits {
        margin-bottom: 100px;
}

#our-benefits h1,
#our-hosting h1 {
        margin-top: 0;
}

#our-benefits h1,
#our-hosting h1 {
        padding: 125px 0 50px 0;
}

.header-style h2 {
        margin-bottom: 10px;
}

.header-style {
        width: 300px;
}

.bg-gray h2 {
        line-height: 27px;
}

/* ----- HERO ----- */

#home-page {
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background: url("../img/bg-laptop.jpg") no-repeat center;
        background-size: cover;
        padding: 300px 0 0;
        margin-bottom: 120px;
}

#home-page p {
        line-height: 60px;
}

#home-page p:last-child {
        line-height: 35px;
        padding: 29px 0 115px;
}

#home-page span {
        margin-top: 0;
        padding-bottom: 130px;
}


/* ----- NAVIGATION ----- */

nav {
        margin-top: 20px;
        width: 295px;
}

nav ul {
        width: 273px;
        margin: 0 0 0 20px;
}

nav li,
footer section:last-child li,
a {
        display: inline-block;
}


/* ----- FOOTER ----- */

footer,
footer a,
footer a:hover {
        background-color: #4D515C;
}

footer a,
footer b,
footer span {
        font-size: 14px;
}

footer {
        margin-top: 75px;
        padding-bottom: 35px;
}

footer b {
        font-weight: 600;
}

footer ul {
        padding-left: 0;
        margin-top: 0;
}

footer li {
        list-style-type: none;
        line-height: 21px;
        margin: 0 0 3px;
}

footer h3 {
        margin: 50px 0 10px;
}

footer a {
        color: #B6BCC7;
        text-transform: none;
}

footer div {
        display: flex;
        justify-content: flex-start;
}

footer div section {
        margin-right: 50px;
}

footer section:first-child h3 {
        margin-bottom: 20px;
}

footer span {
        margin-right: 30px;
}


/* ----- FORMS ----- */

.bg-gray {
        background-color: #E7F5F8;
        padding: 50px 0;
        margin-bottom: 100px;
}

form div {
        padding: 40px 0 0 20px;
}

form a {
        width: 100px;
}

form div:last-child {
        margin-bottom: 10px;
}

input {
        width: 260px;
        padding: 10px;
        border: 1px solid #3F3C45;
        margin-left: 50px;
}

input:focus {
        outline: 0;
        border: 1px #FE8360 solid;
}

#year {
        width: 150px;
        padding: 10px;
        border: 1px solid #3F3C45;
}

#website-type {
        width: 150px;
        padding: 10px;
        border: 1px solid #3F3C45;
}

button[type=search] {
        padding: 13px 25px 13px 25px;
        border: none;
}


/* ----- TABLES ----- */

th, 
td {
        border-right: 1px solid #B6BCC7;
        padding: 20px;
}

table {
        margin: 0 auto;
        margin-top: 50px;
        border-collapse: collapse;
        border: 1px solid #B6BCC7;
        color: #4D515C;
}

table tr:nth-child(2) span {
        padding: 10px 50px;
}

table tr:nth-child(2) {
        padding-bottom: 35px;
}

tbody tr {
        border-bottom: 1px solid #B6BCC7;
}

tbody tr:last-child {
        border-bottom: none;
}

thead tr:first-child ::first-letter {
        font-weight: 200;
}

thead tr:first-child th {
        font-size: 25px;
}

tr span {
        color:#4D515C;
}

tfoot a {
        width: 200px;
        margin-top: 25px;
}

caption,
label {
        position: absolute;
        position: absolute !important;
        width: 1px !important;
        height: 1px !important;
        padding: 0 !important;
        margin: -1px !important;
        overflow: hidden !important;
        clip: rect(0,0,0,0) !important;
        white-space: nowrap !important;
        border: 0 !important;
}


/* ----- ANCHORS ----- */

header p a,
header p:first-child {
        text-align: right;
}

a {
        padding: 15px;
        margin-bottom: 0;
        text-decoration: none;
}

header p a {
        text-transform: lowercase;
        padding: 5px;
}

header p:first-child {
        margin-top: 40px;
}


/* ----- ICONS ----- */

.fa-compass-drafting,
.fa-pen-to-square,
.fa-champagne-glasses,
.fa-cloud,
.fa-comment,
.fa-laptop,
.fa-gear,
.fa-envelope,
.fa-lock,
.fa-certificate {
        font-size: 50px;
        margin: 20px 50px 0 0;
}

.fa-magnifying-glass {
        font-weight: 900;
}

/*--------------------------------------------------------------
    7.0 - UTILITIES
-------------------------------------------------------------- */